<!DOCTYPE html>
<html lang="en">
<head>
	<title>Progress Bar</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/bootstrap.css"></link>
</head>

<body>
	<div class="container">
		<h3>This should show a working progress bar.</h3>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="10" style="width: 10%">
			</div>
		</div>
	</div>

	<script src="/static/jquery.js"></script>
	<script src="/static/bootstrap.js"></script>
</body>
